<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome and lets Go To PM, <%= @invitation.email %></h1>
    <p><%= link_to 'register now', new_user_registration_url(secure_key: @invitation.secure_key) %></p>
  </body>
</html>
