@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";
@import "rails_bootstrap_forms";
@import "liHarmonica.css";
@import "liHarmonicaClear.css";

@for $i from 0 through 12 {
  .vert-offset-top-#{$i} {
    margin-top: #{$i}em;
  }

  .vert-offset-bottom-#{$i} {
    margin-bottom: #{$i}em;
  }
}

.notification {
  border-radius: 13px;
  background-color: red;
  padding: 3px 8px;
  color: white;
}

.admin {
  color: red !important;
}
