.harmonica { margin:0; padding:0}
.harmonica ul { display:none; list-style:outside; padding-left:15px; margin:0}
.harmonica li {}
.harmonica a {}
.harmonica a:hover {}
.harmonica a.cur {}

.skinClear a:before {}
.skinClear a.harFull.harOpen:before {}
.skinClear a.harFull:before {}

.harmonica ul li {}
.harmonica ul a {}
.harmonica ul a.cur { }
.harmonica ul a:hover {}

.harmonica ul ul li {}
.harmonica ul ul a,
.harmonica ul ul a.cur {}
.harmonica ul ul a:hover {}

.skinTree li.last {}
